<div data-bind="ifnot: id">
	<h1>Teams</h1>
	<ul data-bind="foreach: teams">
		<li>
			<a data-bind="attr: { href: prepUrl }, text: teamName"></a>: 
			<span data-bind="foreach: teamMembers"><span data-bind="text: $data"></span></span>
			</li>
	</ul>	
</div>

<div data-bind="if: id">
<h1>Team: <span data-bind="text: teamName"></span></h1>
<a href=".">See all teams</a>
<div data-bind="foreach: currentStatuses">
	<div class="status">
		<span class="member-name" data-bind="text: name"></span>
		<span class="member-status" data-bind="text: description"></span>
		<span class="member-status-since" data-bind="text: since"></span>
	</div>
</div>
</div>
