<script type="text/html" id="status-template" append-to='head'>
	<!-- nko if: name -->

	<div class="page-header">
		<h1><span data-bind="text: name"></span>'s status</h1>
	</div>
	<div data-bind="with: currentStatus">
		<div class="row">
			<div class="span6" class="status" data-bind="visible: !$root.newMode()">
				<blockquote class="member-status callout border-callout">
					<span class="member-status-text" data-bind="text: description"></span>
					<small class="member-status-since">
						(for <abbr data-bind="text: since, attr : { title : started_on }"></abbr>.)
					</small>
				</blockquote>
			</div>

			<div class="span4 offset1">
				<!--
				<ul class="unstyled sparkline-group">
					<li><span class="sparkline" data-bind="text: $root.sparkBars"></span></li>
					<li><span class="sparkline inverse" data-bind="text: $root.sparkBars"></span></li>
				</ul>
				-->
				<div class="sparkline-group">
					<div class="sparkline" title="Done tasks over the past two weeks."><span data-bind="text: $root.sparkBars"></div>
					<div class="sparkline inverse" title="New tasks over the past two weeks."><span class="inverse inner" data-bind="text: $root.sparkBars2"></span></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<form class="span6 well" data-bind="visible: $root.newMode, with: newStatus">
			<fieldset>
				<label for="description">Doing:</label>
				<textarea id="description" data-bind="value: description" placeholder="Type your new status..."></textarea>

				<div>
					<label class="radio inline" for="when-now"><input id="when-now" type="radio" name="when" value="now" data-bind="checked: nowOrLater"/> Now</label>
					<label class="radio inline" for="when-later"><input id="when-later" type="radio" name="when" value="later" data-bind="checked: nowOrLater"/> Later</label>
				</div>
			</fieldset>	

			<br/>
			<input type="submit" class="btn btn-small btn-primary" data-bind="click: $root.save" value="Post" />
			<a href="#" class="btn btn-small" data-bind="click: $root.cancelEdit">Nevermind</a>
		</form>
	</div>
	<div class="row">
		<div class="span2">
			<a href="#" class="btn btn-mini" data-bind="click: $root.create, visible: !$root.newMode()">New Status</a>
		</div>
	</div>

	<hr />
	<div class="row" id="#details">
		<div class="span6" id="#next-statuses" data-bind="visible: nextStatuses().length">
			<h2>Next on the list</h2>
			<ul data-bind="foreach: nextStatuses">
				<li>
				<span class="member-status-text" data-bind="text: description"></span>
				<a href="#" title="Make this the current status" data-bind="click : $root.makeCurrent"> <i class="icon-map-marker"></i></a>
				</li>
			</ul>
		</div>
		<div class="span6" id="#done-statuses" data-bind="visible: previousStatuses().length">
			<h2>Previously worked on</h2>
			<ul data-bind="foreach: previousStatuses">
				<li>
				<span class="member-status-text" data-bind="text: description"></span>
				<small class="member-status-since">
					(for <abbr data-bind="text: since, attr : { title : done_on}"></abbr> 
					starting on 
					<abbr data-bind="text: shortDate, attr : { title : started_on }"></abbr>)</small>
				</li>
			</ul>
		</div>
	</div> <!-- #details -->
	<!-- /nko -->
</script>

<div data-bind="template: { name: 'status-template'}" append-to='#content'></div>
<ul class="nav" append-to='#nav-details'>
	<li><a href="/teams">Teams</a></li>
</ul>
