<script type="text/html" id="status-template" append-to='head'>
	<a href="/teams/">Teams</a>
	<!-- nko if: name -->
	<h1><span data-bind="text: name"></span>'s status</h1>
	<div data-bind="with: currentStatus">
		<p class="status">
			Currently: 
			<span class="member-status callout border-callout" data-bind="visible: !$root.newMode()">
				<span class="member-status-text" data-bind="text: description"></span>
				<span class="member-status-since">(For <span data-bind="text: since, attr : { title : done_on}"></span>.)</span>
			</span>
		</p>
		<span data-bind="visible: $root.newMode">
			<textarea data-bind="value: description"></textarea>
			<button data-bind="click: $root.saveCurrent">Post</button>
			<a href="#" data-bind="click: $root.cancelEdit">Nevermind</a>
		</span>
	</div>
	<a href="#" data-bind="click: $root.create, visible: !$root.newMode()">New</a>

	<div id="#details">
		<div id="#next-statuses">
			<h2>Next on the list</h2>
			<ul data-bind="foreach: nextStatuses">
				<li>
				<span class="member-status-text" data-bind="text: description"></span>
				<a href="#" data-bind="click : $root.makeCurrent">Work on this</a>
				</li>
			</ul>
			<h2>Previously worked on</h2>
			<ul data-bind="foreach: previousStatuses">
				<li>
				<span class="member-status-text" data-bind="text: description"></span>
				<span class="member-status-since">(For <span data-bind="text: since, attr : { title : done_on}"></span> 
					starting on 
					<span data-bind="text: shortDate, attr : { title : started_on }"></span>)</span>
				</li>
			</ul>
		</div>
	</div> <!-- #details -->
	<!-- /nko -->
</script>

<div data-bind="template: { name: 'status-template'}" append-to='#content'></div>
