.member-name,
.member-status {
	/*display: block;*/
	/*float: left;*/
}

.member-name {
	font-weight: bold;
	padding: 4px 8px 0 8px;
}
.member-status-text,
.member-status-since {
	/*display: block;*/
}
.member-status-since {
	font-size: smaller;
	font-style: italic;
	color: #888;
	padding-top: 4px;
}
/*.member-status {
	width: 20em;
	border: 1px solid #aaa;
	padding: 4px;
	border-radius: 5px;
}*/


ul.team-member-list,
ul.team-member-list li {
	display: inline;
	margin: 0;
	padding: 0;
}
