<script type="text/html" id="status-template" append-to='head'>
	<!-- nko if: name -->
	<h1><span data-bind="text: name"></span>'s status</h1>
	<div data-bind="with: currentStatus">
		<p class="status">
			Currently: 
			<span class="member-status callout border-callout" data-bind="visible: !$root.newMode()">
				<span class="member-status-text" data-bind="text: description"></span>
				<span class="member-status-since">(For <span data-bind="text: since, attr : { title : date}"></span>.)</span>
				<a href="#" data-bind="click: $root.create">New</a>
			</span>
			<span data-bind="visible: $root.newMode">
				<textarea data-bind="text: description"></textarea>
				<button data-bind="click: $root.save">Post</button>
				<a href="#" data-bind="click: $root.cancelEdit">Nevermind</a>
			</span>
		</p>
	</div>
	<div id="#details">
		<div id="#next-statuses">
			<h2>Next on the list</h2>
			<div data-bind="foreach: nextStatuses">
				<span class="member-status callout border-callout">
					<span class="member-status-text" data-bind="text: description"></span>
					<a href="#" data-bind="click : $root.makeCurrent">Work on this</a>
				</span>
			</div>
			<h2>Previously worked on</h2>
			<div data-bind="foreach: previousStatuses">
				<span class="member-status callout border-callout">
					<span class="member-status-text" data-bind="text: description"></span>
					<span class="member-status-since">(For <span data-bind="text: since, attr : { title : done_on}"></span> 
						starting on 
						<span data-bind="text: shortDate, attr : { title : date }"></span>)</span>
				</span>
			</div>
		</div>
	</div> <!-- #details -->
	<!-- /nko -->
</script>

<div data-bind="template: { name: 'status-template'}" append-to='#content'></div>
