<script type="text/html" id="teams-template" append-to='head'>
	<!-- ko if: length -->
	<header class="jumbotron subhead">
		<h1>Dashboard</h1>
		<p class="lead">The current status of your teams and their members.</p>
	</header>

	<section>
	<div data-bind="foreach: $data">
		<div class="team well pull-left">	
			<a data-bind="attr: {href: prepUrl}"><h2 data-bind="text: teamName">Team Name</h2></a>
			<ul data-bind="foreach: teamMembers" class="team-member-list">
				<li><a data-bind="attr : { href: $data.prepUrl }, text : name"></a></li>
			</ul>
		</div>
	</div>
	</section>
	<!-- /ko -->
</script>

<script type="text/html" id="team-template" append-to='head'>
	<!-- ko if: id -->
	<div class="page-header">
		<h1 data-bind="text: teamName"></h1>
	</div>
	<div data-bind="foreach: currentStatuses">
		<blockquote class="member-status" data-bind="visible: status">
			<span class="member-status-text" data-bind="text: status.description"></span>
			<small>
				<a class="member-name" data-bind="text: member, attr : { href: prepUrl}"></a>

				<span class="member-status-since">
					(For
					<abbr data-bind="text: status.since, attr : { title : status.started_on}"></abbr>
					)
				</span>
			</small>
		</blockquote>
		<div data-bind="ifnot: status">
			<span data-bind="ifnot: status">
				No status available for 
				<a class="member-name" data-bind="text: member, attr : { href: prepUrl}"></a>.</span>
		</div>
	</div>
	<!-- /ko -->
</script>

<div data-bind="template: { name: 'teams-template', data: teams }" append-to='#content'></div>
<div data-bind="template: { name: 'team-template', data : team }" append-to='#content'></div>
<ul class="nav" append-to='#nav-details'>
	<li data-bind="visible: team.id" class="hide"><a href="/teams">Teams</a></li>
</ul>
